<?xml version="1.0" encoding="utf-8" ?>
<!-- NLog configuration file -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- Define logging targets -->
	<targets>
		<!-- Target for logging all messages to a file -->
		<target xsi:type="File" name="allfile" fileName="${currentdir}/logs/${shortdate}.log"
				layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString}" />
		<!-- Target for logging only error messages to a separate file -->
		<target xsi:type="File" name="errorFile" fileName="${currentdir}/logs/${shortdate}.error.log"
				layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString}" />
	</targets>

	<!-- Define rules for routing log messages to targets -->
	<rules>
		<!-- Route all log messages with minimum level 'Trace' or higher to 'allfile' target -->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<!-- Route all log messages with minimum level 'Error' or higher to 'errorFile' target -->
		<logger name="*" minlevel="Error" writeTo="errorFile" />
	</rules>
</nlog>
